name: Deploy Node.js Application

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy application
        run: |
          cd /home/sonish/nodejs-application-deploy-github-actions
          git pull origin master
          docker compose up -d --build